# QUESTION 1

The following is a list of 10 students ages:

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

• Sort the list and find the min and max age

• Add the min age and the max age again to the list

• Find the median age (one middle item or two middle items divided by two)

• Find the average age (sum of all items divided by their number)

• Find the range of the ages (max minus min)

In [18]:
#Sort the list and find the min and max age
ages=[19, 22, 19, 24, 20, 25, 26, 24, 25, 24] 
ages.sort() #Sorting the list using sort() method 
print("the sorted listed of ages: ",ages)

min_age=min(ages) #minimum of ages in the given list 
max_age=max(ages) #maximum of ages in the given list

print("minimum age: ",min_age) 
print("maximum age: ",max_age)

the sorted listed of ages:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
minimum age:  19
maximum age:  26

In [19]:
#Add the min age and the max age again to the list
print("List before appending: ",ages)
ages.append(min_age) #appending minimum age again to the list of ages
ages.append(max_age) #appending maximum age again to the list of ages

print("List after appending: ",ages)

List before appending:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
List after appending:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [20]:
# Find the median age (one middle item or two middle items divided by two)
print("ages: ",ages)
length=len(ages)
if(length%2==0):
    #find half the sum of two middle indices of the list for even length list
    ind=length//2-1 
    #calculating median
    med=(ages[ind]+ages[ind+1])/2 
else:
    #in the case of odd length, the median is just the middle element
    med=ages[length//2] 
print("median: ",med)

ages:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
median:  24.0

In [21]:
#Find the average age (sum of all items divided by their number)

total=sum(ages) #find the sum of all eages in the list usinf sum() function
avg=total/length
print("average: ",avg)

average:  22.75

In [5]:
#Find the range of the ages (max minus min)
range=max(ages)-min(ages)
print("Range: ",range)

Range:  7

### QUESTION 2
• Create an empty dictionary called dog

• Add name, color, breed, legs, age to the dog dictionary

• Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary

• Get the length of the student dictionary

• Get the value of skills and check the data type, it should be a list

• Modify the skills values by adding one or two skills

• Get the dictionary keys as a list

• Get the dictionary values as a lisT

In [22]:
#Create an empty dictionary called dog
dog={} #initializing an empty dictionary
print("length: ",len(dog))

length:  0

In [23]:
#Add name, color, breed, legs, age to the dog dictionary
dog["name"]="Tommy"
dog["color"]="black"
dog["breed"]="german sheperd"
dog["legs"]=4
dog["age"]=1 

print(dog)

{'name': 'Tommy', 'color': 'black', 'breed': 'german sheperd', 'legs': 4, 'age': 1}

In [127]:
''' Create a student dictionary and add first_name, last_name, gender, 
    age, marital status, skills, country, city and address as keys for the dictionary '''
#initializing empty student dictionary
student={}

#adding first_name, last_name, gender, age, marital status, skills, country, city
student["first_name"]="Midhun Kumar"
student["last_name"]="Chintapalli"
student["gender"]="Male"
student["age"]=22
student["Marital_status"]="Unmarried"
student["Skills"]=["C","Java","Python"]
student["country"]="India"
student["City"]="Narasapuram"
student["address"]="West Godavari"

print("Student details: ")
print(student)

Student details:
{'first_name': 'Midhun Kumar', 'last_name': 'Chintapalli', 'gender': 'Male', 'age': 22, 'Marital_status': 'Unmarried', 'Skills': ['C', 'Java', 'Python'], 'country': 'India', 'City': 'Narasapuram', 'address': 'West Godavari'}

In [128]:
#Get the length of the student dictionary
dict_len=len(student)
print("Student length: ",dict_len)

Student length:  9

In [129]:
#Get the value of skills and check the data type, it should be a list
student_skills=student.get("Skills")#Getting the value of skills of student
print(student_skills)
skills_type=type(student_skills) #getting the data type of skills key
print(skills_type)

['C', 'Java', 'Python']
<class 'list'>

In [27]:
#Modify the skills values by adding one or two skills
student["Skills"].append("HTML") #appending a new skill to the value of skills of student
print(student["Skills"])
student["Skills"].append("CSS")
print(student["Skills"])

['C', 'Java', 'Python', 'HTML']
['C', 'Java', 'Python', 'HTML', 'CSS']

In [29]:
#Get the dictionary keys as a list
keys_list=[] #initializing an empty list to store keys
for k,v in student.items():
    keys_list.append(k)
print("The keys are: ")
print(keys_list)

The keys are:
['first_name', 'last_name', 'gender', 'age', 'Marital_status', 'Skills', 'country', 'City', 'address']

In [30]:
#Get the dictionary values as a lisT
values_list=[] #initializing an empty list to store values
for k,v in student.items():
    values_list.append(v)
print("The values are: ")
print(values_list)

The values are:
['Midhun Kumar', 'Chintapalli', 'Male', 22, 'Unmarried', ['C', 'Java', 'Python', 'HTML', 'CSS'], 'India', 'Narasapuram', 'West Godavari']

### QUESTION 3
• Create a tuple containing names of your sisters and your brothers (imaginary siblings are 
fine)

• Join brothers and sisters tuples and assign it to siblings

• How many siblings do you have?

• Modify the siblings tuple and add the name of your father and mother and assign it to 
family_member

In [33]:
#Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

brothers=() #initializing an empty tuple to store brothers
sisters=() #initializing an empty tuple to store sisters

#adding elemets to brothers
brothers+=("Ram","Ravi","Syam","pavan")

print("type: ",type(brothers))
print("Brothers:",brothers)


print()
#adding elements to sisters
sisters+=("Ankitha","Swetha","Geetha","Kavya",)

print("type: ",type(sisters))
print("Sisters:",sisters)

type:  <class 'tuple'>
Brothers: ('Ram', 'Ravi', 'Syam', 'pavan')

type:  <class 'tuple'>
Sisters: ('Ankitha', 'Swetha', 'Geetha', 'Kavya')

In [35]:
#Join brothers and sisters tuples and assign it to siblings
siblings=() #Initializing an empty tuple
siblings=(brothers+sisters) #concatenating two tuples using '+' operator
print("type: ",type(siblings))
print("siblings: ",siblings)

type:  <class 'tuple'>
siblings:  ('Ram', 'Ravi', 'Syam', 'pavan', 'Ankitha', 'Swetha', 'Geetha', 'Kavya')

In [37]:
#How many siblings do you have?
print("Total no.of siblings: ",len(siblings))

Total no.of siblings:  8

In [38]:
#Modify the siblings tuple and add the name of your father and mother and assign it to family_members
family_members=() #initializing an empty tuple
family_members += siblings + ("Venkateswararao","Suryavathi")

print("type: ",type(family_members))
print("family members: ")
print(family_members)

type:  <class 'tuple'>
family members:
('Ram', 'Ravi', 'Syam', 'pavan', 'Ankitha', 'Swetha', 'Geetha', 'Kavya', 'Venkateswararao', 'Suryavathi')

### QUESTION 4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

A = {19, 22, 24, 20, 25, 26}

B = {19, 22, 20, 25, 26, 24, 28, 27}

age = [22, 19, 24, 25, 26, 24, 25, 24]

• Find the length of the set it_companies

• Add 'Twitter' to it_companies

• Insert multiple IT companies at once to the set it_companies

• Remove one of the companies from the set it_companies

• What is the difference between remove and discard

• Join A and B

• Find A intersection B

• Is A subset of B

• Are A and B disjoint sets

• Join A with B and B with A

• What is the symmetric difference between A and B

• Delete the sets completely

• Convert the ages to a set and compare the length of the list and the set.

In [39]:
#Find the length of the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print("length: ",len(it_companies))

length:  7

In [40]:
#Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("length: ",len(it_companies))
print(it_companies)

length:  8
{'Oracle', 'IBM', 'Apple', 'Twitter', 'Facebook', 'Microsoft', 'Amazon', 'Google'}

In [41]:
#Insert multiple IT companies at once to the set it_companies
dup_set={'Adobe','HSBC','EPAM','Infosys'} #initializing a set
it_companies.update(dup_set) #adding the second set

print(it_companies)

{'IBM', 'Apple', 'Twitter', 'Adobe', 'Oracle', 'Facebook', 'Microsoft', 'Amazon', 'EPAM', 'HSBC', 'Infosys', 'Google'}

In [42]:
#Remove one of the companies from the set it_companies
it_companies.remove('EPAM') #removing the company 'EPAM'
print(it_companies)

{'IBM', 'Apple', 'Twitter', 'Adobe', 'Oracle', 'Facebook', 'Microsoft', 'Amazon', 'HSBC', 'Infosys', 'Google'}

In [44]:
#Join A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
C=A.union(B) #all unique elements and all common elements will be printed once
print(C)

{19, 20, 22, 24, 25, 26, 27, 28}

In [45]:
#Find A intersection B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
int_Set=A.intersection(B)
print("The common elements are: ")
print(int_Set)

The common elements are:
{19, 20, 22, 24, 25, 26}

In [46]:
#Is A subset of B
res=A.issubset(B)
print(res) #returns true or false

True

In [48]:
#Are A and B disjoint sets
res1=A.isdisjoint(B)
if res1==True:
    print("A and B are disjoint")
else:
    print("No")

No

In [49]:
#Join A with B and B with A
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
A.union(B) #all unique elements and all common elements will be printed once
B.union(A)
print("A: ",A)
print("B: ",B)

A:  {19, 20, 22, 24, 25, 26}
B:  {19, 20, 22, 24, 25, 26, 27, 28}

In [50]:
#What is the symmetric difference between A and B
sym_dif=A.symmetric_difference(B)
print(sym_dif)

{27, 28}

In [124]:
# Delete the sets completely
A.clear() #deleting setA completely from memory
B.clear() #deleting setB completely from memory
print(A)
print(B)

set()
set()

In [55]:
#Convert the ages to a set and compare the length of the list and the set.
age = [22, 19, 24, 25, 26, 24, 25, 24]
set_age=set(age)
print("List ages length: ",len(age))
print("set ages length: ",len(set_age))

#the lengths are differnet because the set removes the duplicated ages

List ages length:  8
set ages length:  5

## QUESTION 5

The radius of a circle is 30 meters.

• Calculate the area of a circle and assign the value to a variable name of _area_of_circle_

• Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_

• Take radius as user input and calculate the area.

In [65]:
#Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
#initializing radius ad rad
rad=30
#calcluating area of circle
_area_of_circle_=3.14*(rad**2)
print("Area of a circle is : ",_area_of_circle_)

Area of a circle is :  2826.0

In [67]:
#Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
_circum_of_circle=2*3.14*rad
print("Circumference of a circle is : ",_circum_of_circle)

Circumference of a circle is :  188.4

In [69]:
rad_inp=int(input("Enter radius: "))
new_area=3.14*(rad_inp**2)
print("Area from user input radius: ",new_area)

Enter radius: 30
Area from user input radius:  2826.0

## QUESTION 6
“I am a teacher and I love to inspire and teach people”

• How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [75]:
s="I am a teacher and I love to inspire and teach people" #initializing a string
unique_s=s.split() #using split to split each word in the given string
set_unique_s=set(unique_s)#using set to remove duplicate words in the given string
print("Number of unique words in the sentence is: ", len(set_unique_s))

Number of unique words in the sentence is:  10

## QUESTION 7
Use a tab escape sequence to get the following lines.

     Name Age Country City
 
     Asabeneh 250 Finland Helsinki

In [80]:
#\t escape sequence
print("Name\t\tAge\t\tCountry\t\tCity\nAsabeneh\t250\t\tFinland\t\tHelsinki")

Name		Age		Country		City
Asabeneh	250		Finland		Helsinki

## QUESTION 8
Use the string formatting method to display the following:

radius = 10

area = 3.14 * radius ** 2

“The area of a circle with radius 10 is 314 meters square.”

In [89]:
radius=10 #initializing radius to 10
area=3.14*radius**2
print("The radius of a circle with radius {} is {} meters square".format(radius,int(area)))

The radius of a circle with radius 10 is 314 meters square

## QUESTION 9
Write a program, which reads weights (lbs.) of N students into a list and convert these weights to kilograms in a separate list using Loop. N: No of students (Read input from user)

Ex: L1: [150, 155, 145, 148]

Output: [68.03, 70.3, 65.77, 67.13]

In [2]:
n=int(input()) #initializing n with user input
wei_g=list(map(int,input("Enter weights ").split()))
wei_kg=[]
for x in wei_g:
    wei_kg.append(x*0.453592)
m=[round(x,2) for x in wei_kg]
print(m)

4
Enter weights 150 155 145 148
[68.04, 70.31, 65.77, 67.13]